.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: #00000080;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}
