.video-js {
  margin-bottom: 3rem;
}

.video-js.vjs-fullscreen {
  .vjs-control-bar {
    display: none !important;
  }
}

.video-js .vjs-control-bar {
  position: fixed !important;
  bottom: 0 !important;
  left: auto !important;
  right: 0 !important;
  width: calc(100% - 60px) !important;
  height: 4em !important;
  background-color: black !important;
  z-index: 50 !important;

  display: flex !important;

  .vjs-play-control,
  .vjs-remaining-time {
    display: none !important;
  }

  .vjs-progress-holder.vjs-slider {
    height: 1em !important;
  }

  .vjs-icon-placeholder::before {
    // display: none !important;
    justify-content: center !important;
    font-size: 2.5em;
  }
  .vjs-remaining-time {
    font-size: 2em !important;
    line-height: 2em !important;
  }

  .vjs-time-tooltip {
    display: none !important;
  }
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 10px !important;
}

.vjs-big-play-button {
  display: none !important;
}

.vjs-icon-circle:before,
.vjs-seek-to-live-control .vjs-icon-placeholder:before,
// .video-js .vjs-volume-level:before,
.video-js .vjs-play-progress:before {
  font-size: 1.2rem !important;
  content: "▏" !important;
  transform: translate(5px, -2px);
}

.vjs-marker {
  position: absolute;
  background: #3693fd;
  opacity: 0.9;
  // width: 5px;
  height: 28px;
  top: -100%;
  z-index: 30;
  // margin-left: -3px;
}

.vjs-seq-marker {
  position: absolute;
  // background: #ff9595cc;
  // opacity: 0.9;
  // width: 5px;
  height: 40px;
  top: -150%;
  z-index: 40;
  // margin-left: -3px;

  &.odd {
    background: #66666655;
  }

  &.eve {
    background: #aaaaaa55;
  }

  &:hover {
    .vjs-seq-marker-popup {
      opacity: 1;
    }
  }

  .vjs-seq-marker-popup {
    position: absolute;
    top: -25px;
    // right: 0;
    padding: 5px;
    min-width: 50px;
    font-size: 1.2rem;
    border-radius: 3px;
    background: #000;

    opacity: 0;

    pointer-events: none;
  }
}

.vjs-trims-marker,
.vjs-trime-marker {
  position: absolute;
  background: #000000;
  opacity: 0.6;
  height: 40px;
  top: -150%;
  z-index: 30;
}

// .vjs-marker:hover span {
//   opacity: 1;
// }

// .vjs-marker span {
//   position: absolute;
//   bottom: 15px;
//   opacity: 0;
//   margin-left: -20px;
//   z-index: 90;
//   background: rgba(0, 0, 0, 0.8);
//   padding: 8px;
//   font-size: 10px;
// }

.vjs-marker-frame {
  position: absolute;
  top: -50%;
  height: 200%;
  background: #ccc;
  z-index: 35;
}

.vjs-play-progress.vjs-slider-bar {
  display: none !important;
}

.vjs-volume-panel.vjs-control.vjs-volume-panel-vertical {
  position: absolute !important;
  bottom: 40px !important;
  right: 50px !important;
}

.vjs-volume-control.vjs-control.vjs-volume-vertical {
  .vjs-mouse-display {
    left: -2000%;
  }
}

.vjs-fullscreen-control {
  position: absolute !important;
  bottom: 40px !important;
  right: 10px !important;
}
