.video-ui-wrapper {
  position: fixed;
  bottom: 40px;
  right: 0;
  width: calc(100vw - 60px);
  height: 40px;
  background: #333;
  display: grid;
  // justify-content: center;
  // align-items: center;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr;

  font-size: 1.2rem;

  z-index: 10;

  .marker-button-wrapper {
    grid-column: 1/2;

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    button {
      width: 40px;
      height: 100%;
      border: none;
      color: var(--video-UI-tx);
      background: transparent;
      border-radius: 1px;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #666;
        color: var(--video-UI-hover-tx);
      }
    }
  }

  .trim-button-wrapper {
    grid-column: 2/3;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    button {
      font-size: 1.5rem;
      font-weight: bold;
      width: 30px;
      height: 100%;
      border: none;
      color: var(--video-UI-tx);
      background: transparent;
      border-radius: 1px;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        background-color: #555;
      }

      &:hover {
        background: #666;
        color: var(--video-UI-hover-tx);
      }
    }
  }

  .button-wrapper {
    grid-column: 3/4;
    display: flex;
    gap: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--video-UI-bg);
    width: 100%;

    button {
      width: 40px;
      height: 100%;
      border: none;
      color: var(--video-UI-tx);
      background: transparent;
      border-radius: 1px;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: #666;
        color: var(--video-UI-hover-tx);
      }
    }
  }

  .fps-wrapper {
    grid-column: 4/5;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // justify-content: center;
    // align-items: center;
    gap: 10px;

    div {
      display: flex;
      // justify-content: center;
      align-items: center;
    }
    .seek-frame {
      font-size: 1.8rem;
      justify-content: flex-end;
    }
    .fps {
      font-size: 1.2rem;
    }
  }
}
