html {
  // font-size: 1vw !important;
  font-size: 12px !important;

  // font-family: "Roboto", sans-serif;
}

body {
  // background: #333;
  background: #111;
  color: #eee;
  overflow: hidden;
}

* {
  user-select: none;
}

*:focus {
  outline: none;
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 9px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(196, 196, 196, 0.6);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.mouseSVG {
  pointer-events: none;
  z-index: 20;
}

.player-wrapper {
  position: relative;
  width: fit-content;
  display: flex;

  .canvas-video {
    width: calc(100vw - 60px);
    height: calc(100vh - 80px - 40px);

    display: flex;
    justify-content: center;
    align-items: center;

    .canvas-video-inner {
      position: relative;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      // align-items: center;
    }
  }

  .canvas-wrapper {
    position: absolute;
    width: fit-content;
    width: fit-content;
    height: fit-content;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    .canvas-frame {
      position: relative;
      z-index: 10;
      // background: aqua;
      // opacity: 0.5;

      width: fit-content;
      height: fit-content;
      .canvas-container {
        position: relative;
        .canvas {
          width: 100%;
        }
      }
    }
  }

  .video-container {
    width: fit-content;
    height: fit-content;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
}

.window {
  width: 100vw;
  height: 100vh;

  &.top,
  &.player {
    // display: flex;
    .progress-wrapper {
      width: 100%;
      height: 3px;

      .bar-outer {
        width: 100%;
        height: 100%;

        .bar-inner {
          height: 100%;
          background: var(--paint-UI-select);
        }
      }
    }
    .list-wrapper {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

//-------------------

.tab-side {
  width: 50px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 0;
  gap: 20px;

  .tab-item {
    padding: 10px;
    cursor: pointer;

    &.active {
      position: relative;
      color: var(--paint-UI-select);
      // border-right: 2px solid aqua;
      &::before {
        content: "";
        width: 2px;
        height: 30px;
        background: var(--paint-UI-select);
        position: absolute;
        top: 7px;
        right: 0;
      }
    }
  }
}

.list-side {
  width: calc(100% - 50px);
}
