.video-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  // margin: 1vw 0px;

  overflow-y: auto;

  height: calc(100vh - 80px);
  padding: 40px 10px;

  .video-list-item {
    width: 18vw;
    height: calc(10.125vw + 45px);
    // height: fit-content;
    position: relative;

    .video-head-wrapper {
      width: 100%;
      // height: 45px;

      color: var(--video-UI-tx);
      background: var(--video-UI-no-bg-color);
      &._r {
        background: var(--video-UI-r-bg-color);
        & + .frame-image {
          border: 1px solid var(--video-UI-r-bg-color);
        }
      }

      &._ok {
        background: var(--video-UI-ok-bg-color);
        & + .frame-image {
          border: 1px solid var(--video-UI-ok-bg-color);
        }
      }

      border-radius: 3px 3px 0 0;

      .video-head {
        width: 100%;
        position: relative;
        display: flex;
        padding: 5px 5px;
        align-items: center;

        .video-name {
          width: 100%;
          font-size: 1.2rem;
          font-style: italic;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .video-info {
        display: flex;
        padding: 2px 0 2px 5px;
        gap: 10px;
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .placeholder {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--overlay-bg-color);
      color: var(--overlay-tx-color);
      z-index: var(--z-overlay);
      font-size: 2rem;
    }

    .marker-count {
      // width: 20px;
      // height: 20px;
      position: absolute;
      bottom: 5px;
      right: 5px;
      border-radius: 5px;

      background: #00000086;

      pointer-events: none;
    }

    .frame-image {
      width: 100%;
      border: 1px solid #555;
      cursor: pointer;
      &.loading {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .video-list-wrapper {
    padding: 10px 10px;
    .video-list-item {
      height: 10.125vw;
    }
  }
  .video-head-wrapper {
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: var(--tx-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(1);
    transform-origin: center;
    transition: 0.2s;

    &.enable {
      color: var(--enabled-color);
      cursor: default;
    }

    &:hover {
      color: var(--bg-sub-color);
      background: var(--tx-sub-color);
      transform: scale(1.2);

      &.enable {
        color: var(--enabled-color);
        background: transparent;
        transform: scale(1);
      }
    }
  }
}
